In [1]:
import pandas as pd

data_대출사기형=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0410/fishing/row data/대출사기형.csv")
data_수사기관사칭형=pd.read_csv("/Users/withmocha/Desktop/DATA/Capston Design(2024)/data(sentence)/0410/fishing/row data/수사기관사칭형.csv")

In [2]:

data_대출사기형.drop(columns=['Unnamed: 0'],inplace=True)
data_수사기관사칭형.drop(columns=['Unnamed: 0'],inplace=True)

In [3]:
data_대출사기형[:10]

                                                  내용
0  ['여보세요', '네   님', '예 예', '어저께 통화했던 최영환입니다', '아...
1  ['여보세요', '안녕하세요', '고객님 김종현 대리입니다', '아네 대리님', '...
2  ['네 여보세요?', '여보세요', '네 ㅇㅇ 맞으신가요?', '네네', '네 안녕...
3  ['네', '네 여보세요', '뭐 어디세요?', '아 네 안녕하세요', '저희 그 ...
4  ['여보세요', '네   님', '예 예', '어저께 통화했던 최영환입니다', '아...
5  ['여보세요', '안녕하세요', '고객님 김종현 대리입니다', '아네 대리님', '...
6  ['네 여보세요?', '여보세요', '네 ㅇㅇ 맞으신가요?', '네네', '네 안녕...
7  ['네', '네 여보세요', '뭐 어디세요?', '아 네 안녕하세요', '저희 그 ...
8  ['여보세요', '네   님', '예 예', '어저께 통화했던 최영환입니다', '아...
9  ['여보세요', '안녕하세요', '고객님 김종현 대리입니다', '아네 대리님', '...

In [4]:
data_수사기관사칭형[:10]

                                                  내용
0  ['아 서울 중앙 지검 첨단 범죄 수사 일부 이희나 수사관입니다.', '본 사건 조...
1  ['여보세요', '여보세요 OOO씨 혹시 맞습니까?', '네', '저는 서울 중앙 ...
2  ['여보세요', '네', '네 안녕하십니까.', '혹시 OOO 핸드폰 맞으십니까?'...
3  ['수고하십니다.', '여기는 서울 중앙 지검이고요', '네', '저는 1,000만...
4  ['어 이름은 김호철이고 태어난 곳은 전라도 광주, 올해로 사십세된 남성에 농협 은...
5  ['네 여보세요', '네 네', '아 아 다른 게 아니라 그 OOO 본인 관련된 명...
6  ['어 제가 한가지만 좀 여쭤볼게요.', '혹시 문은정이라는 사람 들어 보시거나 알...
7  ['본인께서도 인지를 못하시는 거 확인을 좀 부탁드릴게요.', '본인 혹시 중고나라...
8  ['증거를 속이게 되면 어 증거 자료로 솔직히 어려운 부분이 조금 있으신데 혹시 지...
9  ['사기범로 보는 건 아니고요.', '저희가 어느 정도 개인 명의 도용에 따른 피해...

In [5]:
data_split_대출사기형=pd.DataFrame(data_대출사기형['내용'].str.split(',').tolist())

In [6]:
data_split_수사기관사칭형=pd.DataFrame(data_수사기관사칭형['내용'].str.split(',').tolist())

In [7]:
data_split_대출사기형

,0,1,2,3,4,5,6,7,8,9,...,207,208,209,210,211,212,213,214,215,216
0,['여보세요','네 님','예 예','어저께 통화했던 최영환입니다','아 예 예','어떻게 가진행 결과 안내차 오늘 아침에 전화 드린다고 제가 얘기를 했었는데 어떻...,'아 네','일단 최대한도는 고객님 신청하신 최대 한도는 3천만원까지 가능하시고요','네','금리는 연 금리 5.5%에 상환 기간 60개월입니다.',...,'20만원 넣지 않으셔도 되고요.','변호사 선임해주시고 연락을 주시면은 저희 직원이 파견나간다고요','변호사까지 선임하는 대출을 누가 합니까','그럼? 됐습니다','그럼 공증을 지금 저희가 해드릴 수 있는 담보물이 있어요?','아휴 그럼 어떻게 해요.','제가 입금 바로 쓸 수가 있는거지.','느낌이 완전 보이스 피싱','이상한게 아니라 지금 자격 요건이 안 되시잖아요','돈을 먼저 넣으라는 거는 나는 좀 이해가 안되네요.']
1,['여보세요','안녕하세요','고객님 김종현 대리입니다','아네 대리님','고객님 연락이 너무 안되셔가지고 지금','아 네 제가 너무 바빠서요','아 지금은 좀 연락이 이제 가능하신 건가요?','아네네 대리님 그 남의 돈 드시니까 좋으세요?','네 무슨말씀이시죠?','아..제가 보니까 제게 상환이 다 안되있더라구요',...,None,None,None,None,None,None,None,None,None,None
2,['네 여보세요?','여보세요','네 ㅇㅇ 맞으신가요?','네네','네 안녕하세요','여기 스포츠 토토 싸이트인데요','네','다름이 아니구요','사장님께서 혹시 안쓰시는 계좌가 있으시면 저희가 월 400에서 450만원까지 선...,'아 저는 토토 안하는데 어떻게 제 번호 알게 되셨죠?',...,None,None,None,None,None,None,None,None,None,None
3,['네','네 여보세요','뭐 어디세요?','아 네 안녕하세요','저희 그 하나캐피탈에서 연락을 드렸습니다','아 그래요?','네네네 고객님께서 이제 중개업체쪽에서 필요 자금 부분 신청하신 건 때문에 연락을...,'지금 현재 이용중이신 고금리건 채무 러시앤캐시 산와머니 이런 고금리건 채무 이용...,'아 그래요?','네네 지금 보시면 이제 신용 등급 부분하고는 관계없이 저희쪽에서 연 이자 10%...,...,None,None,None,None,None,None,None,None,None,None
4,['여보세요','네 님','예 예','어저께 통화했던 최영환입니다','아 예 예','어떻게 가진행 결과 안내차 오늘 아침에 전화 드린다고 제가 얘기를 했었는데 어떻...,'아 네','일단 최대한도는 고객님 신청하신 최대 한도는 3천만원까지 가능하시고요','네','금리는 연 금리 5.5%에 상환 기간 60개월입니다.',...,'20만원 넣지 않으셔도 되고요.','변호사 선임해주시고 연락을 주시면은 저희 직원이 파견나간다고요','변호사까지 선임하는 대출을 누가 합니까','그럼? 됐습니다','그럼 공증을 지금 저희가 해드릴 수 있는 담보물이 있어요?','아휴 그럼 어떻게 해요.','제가 입금 바로 쓸 수가 있는거지.','느낌이 완전 보이스 피싱','이상한게 아니라 지금 자격 요건이 안 되시잖아요','돈을 먼저 넣으라는 거는 나는 좀 이해가 안되네요.']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,['네','네 여보세요','뭐 어디세요?','아 네 안녕하세요','저희 그 하나캐피탈에서 연락을 드렸습니다','아 그래요?','네네네 고객님께서 이제 중개업체쪽에서 필요 자금 부분 신청하신 건 때문에 연락을...,'지금 현재 이용중이신 고금리건 채무 러시앤캐시 산와머니 이런 고금리건 채무 이용...,'아 그래요?','네네 지금 보시면 이제 신용 등급 부분하고는 관계없이 저희쪽에서 연 이자 10%...,...,None,None,None,None,None,None,None,None,None,None
72,['여보세요','네 님','예 예','어저께 통화했던 최영환입니다','아 예 예','어떻게 가진행 결과 안내차 오늘 아침에 전화 드린다고 제가 얘기를 했었는데 어떻...,'아 네','일단 최대한도는 고객님 신청하신 최대 한도는 3천만원까지 가능하시고요','네','금리는 연 금리 5.5%에 상환 기간 60개월입니다.',...,'20만원 넣지 않으셔도 되고요.','변호사 선임해주시고 연락을 주시면은 저희 직원이 파견나간다고요','변호사까지 선임하는 대출을 누가 합니까','그럼? 됐습니다','그럼 공증을 지금 저희가 해드릴 수 있는 담보물이 있어요?','아휴 그럼 어떻게 해요.','제가 입금 바로 쓸 수가 있는거지.','느낌이 완전 보이스 피싱','이상한게 아니라 지금 자격 요건이 안 되시잖아요','돈을 먼저 넣으라는 거는 나는 좀 이해가 안되네요.']
73,['여보세요','안녕하세요','고객님 김종현 대리입니다','아네 대리님','고객님 연락이 너무 안되셔가지고 지금','아 네 제가 너무 바빠서요','아 지금은 좀 연락이 이제 가능하신 건가요?','아네네 대리님 그 남의 돈 드시니까 좋으세요?','네 무슨말씀이시죠?','아..제가 보니까 제게 상환이 다 안되있더라구요',...,None,None,None,None,None,None,None,None,None,None
74,['네 여보세요?','여보세요','네 ㅇㅇ 맞으신가요?','네네','네 안녕하세요','여기 스포츠 토토 싸이트인데요','네','다름이 아니구요','사장님께서 혹시 안쓰시는 계좌가 있으시면 저희가 월 400에서 450만원까지 선...,'아 저는 토토 안하는데 어떻게 제 번호 알게 되셨죠?',...,None,None,None,None,None,None,None,None,None,None
75,['네','네 여보세요','뭐 어디세요?','아 네 안녕하세요','저희 그 하나캐피탈에서 연락을 드렸습니다','아 그래요?','네네네 고객님께서 이제 중개업체쪽에서 필요 자금 부분 신청하신 건 때문에 연락을...,'지금 현재 이용중이신 고금리건 채무 러시앤캐시 산와머니 이런 고금리건 채무 이용...,'아 그래요?','네네 지금 보시면 이제 신용 등급 부분하고는 관계없이 저희쪽에서 연 이자 10%...,...,None,None,None,None,None,None,None,None,None,None

In [8]:
data3=pd.DataFrame(data_split_대출사기형.fillna('0'))

In [9]:
count=0
for i in range(data3.shape[0]):
    for j in range(data3.shape[1]):
        if len(data3.iloc[i,j])>10:
            if data3.iloc[i,j]!='0':
                count=count+1

In [10]:
count

3477

In [11]:
y=pd.DataFrame(index=range(count),columns=['sentence'])

In [12]:
y

     sentence
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
...       ...
3472      NaN
3473      NaN
3474      NaN
3475      NaN
3476      NaN

[3477 rows x 1 columns]

In [13]:
num=0
for i in range(data3.shape[0]):
    for j in range(data3.shape[1]):
        if data3.iloc[i,j]!='0':
            if len(data3.iloc[i,j])>10:
                y.iloc[num,0]=data3.iloc[i,j]
                num=num+1

In [14]:
y_대출사기=y

In [15]:
y_대출사기

                                               sentence
0                                     '어저께 통화했던 최영환입니다'
1      '어떻게 가진행 결과 안내차 오늘 아침에 전화 드린다고 제가 얘기를 했었는데 어떻...
2              '일단 최대한도는 고객님 신청하신 최대 한도는 3천만원까지 가능하시고요'
3                       '금리는 연 금리 5.5%에 상환 기간 60개월입니다.'
4      '매 월 상환하시는 금액은 60개월 기준 원금 이자 포함되신 금액으로 573035...
...                                                 ...
3472                                        '너무 많아가지고 '
3473                              '네 대부업건 어디어디 이용중이세요?'
3474                         '얼만지 제가 한번 보고 전화를 한번 드릴게요'
3475                                        '아 네 알겠습니다'
3476                              '그 바로 연락 한번 좀 부탁드릴게요'

[3477 rows x 1 columns]

In [16]:
y_대출사기.to_csv("대출형 보이스피싱.csv")

In [17]:
data_수사기관사칭형=pd.DataFrame(data_split_수사기관사칭형.fillna('0'))

In [18]:
data_수사기관사칭형.shape

(57, 1349)

In [19]:
data3=pd.DataFrame(data_split_수사기관사칭형.fillna('0'))

In [20]:
count=0
for i in range(data3.shape[0]):
    for j in range(data3.shape[1]):
        if len(data3.iloc[i,j])>10:
            if data3.iloc[i,j]!='0':
                count=count+1

In [21]:
print(count)

8432

In [22]:
data3.shape

(57, 1349)

In [23]:
y=pd.DataFrame(index=range(count),columns=['sentence'])

In [24]:
y

     sentence
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
...       ...
8427      NaN
8428      NaN
8429      NaN
8430      NaN
8431      NaN

[8432 rows x 1 columns]

In [25]:
num=0
for i in range(data3.shape[0]):
    for j in range(data3.shape[1]):
        if data3.iloc[i,j]!='0':
            if len(data3.iloc[i,j])>10:
                y.iloc[num,0]=data3.iloc[i,j]   
                num=num+1

In [26]:
y_수사기관=y

In [27]:
y_수사기관 #2

                                               sentence
0                 ['아 서울 중앙 지검 첨단 범죄 수사 일부 이희나 수사관입니다.'
1      '본 사건 조사는 법원 증거 제출용으로 이뤄지고 있으신데 녹취 조사 과정에서 허위...
2                 형사상 책임이 있으시니 사실에 입각하여 진실로 좀 하셔야 됩니다.'
3                          '네 OOO씨 지금 제가 본인 확인 한번 할께요.'
4                        '생년월일 앞에 여섯 자리만 말씀 부탁 드리겠습니다.'
...                                                 ...
8427                   '그 본인 말고도 180명이 넘게 연루된 사건이다 보니까'
8428   '찾아오시는 분들이 많기 때문에 저희가 일방적으로 오라고 말씀드릴 수 없기 때문에...
8429                   '그러면은 문자로 관련 내용 간단하게 요약해서 보내주세요'
8430                           '예 그 본인 자택으로 서류 보내드릴게요.'
8431   '그 문자 말고 그 확인하시고 읽어보신 다음에 이해 안 가는 부분 있으시면 다시 ...

[8432 rows x 1 columns]

In [28]:
y_수사기관.to_csv("기관 사칭형 보이스피싱.csv")

In [60]:
y_대출사기 #1

                                               sentence
0                                     '어저께 통화했던 최영환입니다'
1      '어떻게 가진행 결과 안내차 오늘 아침에 전화 드린다고 제가 얘기를 했었는데 어떻...
2              '일단 최대한도는 고객님 신청하신 최대 한도는 3천만원까지 가능하시고요'
3                       '금리는 연 금리 5.5%에 상환 기간 60개월입니다.'
4      '매 월 상환하시는 금액은 60개월 기준 원금 이자 포함되신 금액으로 573035...
...                                                 ...
3472                                        '너무 많아가지고 '
3473                              '네 대부업건 어디어디 이용중이세요?'
3474                         '얼만지 제가 한번 보고 전화를 한번 드릴게요'
3475                                        '아 네 알겠습니다'
3476                              '그 바로 연락 한번 좀 부탁드릴게요'

[3477 rows x 1 columns]

In [61]:
y=pd.DataFrame(index=range(y_대출사기.shape[0]),columns=['predict'])
y=y.fillna('1')
y

     predict
0          1
1          1
2          1
3          1
4          1
...      ...
3472       1
3473       1
3474       1
3475       1
3476       1

[3477 rows x 1 columns]

In [62]:
대출사기=pd.concat([y_대출사기,y],axis=1)

In [63]:
대출사기

                                               sentence predict
0                                     '어저께 통화했던 최영환입니다'       1
1      '어떻게 가진행 결과 안내차 오늘 아침에 전화 드린다고 제가 얘기를 했었는데 어떻...       1
2              '일단 최대한도는 고객님 신청하신 최대 한도는 3천만원까지 가능하시고요'       1
3                       '금리는 연 금리 5.5%에 상환 기간 60개월입니다.'       1
4      '매 월 상환하시는 금액은 60개월 기준 원금 이자 포함되신 금액으로 573035...       1
...                                                 ...     ...
3472                                        '너무 많아가지고 '       1
3473                              '네 대부업건 어디어디 이용중이세요?'       1
3474                         '얼만지 제가 한번 보고 전화를 한번 드릴게요'       1
3475                                        '아 네 알겠습니다'       1
3476                              '그 바로 연락 한번 좀 부탁드릴게요'       1

[3477 rows x 2 columns]

In [64]:
y=pd.DataFrame(index=range(y_수사기관.shape[0]),columns=['predict'])
y=y.fillna('2')
y

     predict
0          2
1          2
2          2
3          2
4          2
...      ...
8427       2
8428       2
8429       2
8430       2
8431       2

[8432 rows x 1 columns]

In [65]:
수사기관=pd.concat([y_수사기관,y],axis=1)

In [66]:
수사기관

                                               sentence predict
0                 ['아 서울 중앙 지검 첨단 범죄 수사 일부 이희나 수사관입니다.'       2
1      '본 사건 조사는 법원 증거 제출용으로 이뤄지고 있으신데 녹취 조사 과정에서 허위...       2
2                 형사상 책임이 있으시니 사실에 입각하여 진실로 좀 하셔야 됩니다.'       2
3                          '네 OOO씨 지금 제가 본인 확인 한번 할께요.'       2
4                        '생년월일 앞에 여섯 자리만 말씀 부탁 드리겠습니다.'       2
...                                                 ...     ...
8427                   '그 본인 말고도 180명이 넘게 연루된 사건이다 보니까'       2
8428   '찾아오시는 분들이 많기 때문에 저희가 일방적으로 오라고 말씀드릴 수 없기 때문에...       2
8429                   '그러면은 문자로 관련 내용 간단하게 요약해서 보내주세요'       2
8430                           '예 그 본인 자택으로 서류 보내드릴게요.'       2
8431   '그 문자 말고 그 확인하시고 읽어보신 다음에 이해 안 가는 부분 있으시면 다시 ...       2

[8432 rows x 2 columns]

In [67]:
대출사기.to_csv("대출사기(1).csv")
수사기관.to_csv("수사기관(2).csv")